*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar{
border: none;
background-color: black;
color: #61122F;
font-weight: bold;
padding: 15px 15px 15px 15px;
}

body{
	background-color: #61122F;
	color: white;
}

.glyphicon{
	font-size: 30px;
	color:#61122F; 
}

.center{
	width: 90%;
	background-color: grey;

}

.container
{
	background-color: grey;
}

.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}

#myNavbar ul li a {
	color: #61122F;
}

.navbar-brand{
font-size: 30px;	
}

h1{
	padding: 0 0 30px 0;
	font-weight: bold;
	color:lightgreen;
	text-shadow: 2px 2px 8px #FF0000;
	margin-top: -10px;
}

#sportsstory {
  margin-bottom: 15px;
  position: relative;
  border: 1px solid #3F0C1F;
  overflow: hidden;
}

#hg:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

.col-xs-12 {
	margin: 10px 10px 10px 10px;
	 width: 100%;
	 position: relative;
}

.row {
	margin-right: 30px;
    margin-left: 15px;
    position: relative;
}




